services:
  db:
    image: postgres:17
    ports:
      - 5432:5432
    environment:
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=1234567
    volumes:
      - postgres_data:/var/lib/postgresql/data
  redis:
    image: redis:8.4
    ports:
      - 6379:6379
    command: redis-server --requirepass 123456
    volumes:
      - redis_data:/data

volumes:
  postgres_data:
  redis_data:
