services:
  db:
    image: postgres:17
    ports:
      - 5432:5432
    environment:
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=1234567
    volumes:
      - postgres_data:/var/lib/postgresql/data

volumes:
  postgres_data:
